
p{     
    color:green;
    background-color:blue;

}
#ab1{
    color:red;
    background-color:yellow;
}
#ab2{
    color:orange;
    background-color:pink;
}
.lol1{
    color:brown;
    background-color:lightgreen;
    width: 200px;
    height: 100px;
}
